<html>

<head>
	{% if title %}
	<title> {{ title }} </title>
	{% else %}
	<title> anotherblogtest </title>
	{% endif %}
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<body>
	<div id="navigation">
		<a href={{ url_for("index") }}>Home</a>
		<a href={{ url_for("login") }}>Login</a>
		<a href={{ url_for("register") }}>Register</a>
		<a href={{ url_for("logout") }}>Logout</a>

	</div>
	<hr><br>
	<div id="flash_messages">
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		{% for message in messages %}
		<p> {{ message }}</p>
		{% endfor %}
		{% endif %}
		{% endwith %}
	</div>

	{% block content %}
	{% endblock %}

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="{{ url_for('static', filename = 'jquery.js') }}">\x3C/script>')</script>
</body>
</html>