{% extends "base.html" %}

{% block content %}
<div id="welcomeContainer">
	<p> Welcome, {{current_user.username }}</p>
</div>

<form action="" method="POST">
	{{ form.csrf_token }}
	{{ form.task.label }}<br>
	{{ form.task(size=42)}}<br>
	{{ form.submit() }}
	<br>
</form>

<div id="Latest tasks...">
	{% for task in tasks %}
		<!-- <div class="menuHeader", id="menu" + i>
			<p class="taskdata"> {{ task.description }} </p>
			<button class="deleteTask">Delete</button>
        </div> -->
        <form action="{{ url_for('delete', task_id=task.id) }}" method="POST">
            <p class="taskdata"> {{ task.description }} </p>
            <input class="btn btn-danger" type="submit" value="Delete">
        </form>
	{% endfor %}
</div>

{% endblock %}
