{% extends "base.html" %}

{% block content %}
	<form action="" method="POST">
	{{ form.csrf_token }} 

	{{ form.username.label }}<br>
	{{ form.username(size=20) }}<br>
	{% for error in form.username.errors %}
		<span style="color:red;"> {{ error }}</span>
	{% endfor %}

	{{ form.password.label }}<br>
	{{ form.password(size=20) }}<br>
	{% for error in form.password.erros %}
		<span style="color:red;"> {{ error }}</span>
	{% endfor %}

	{{ form.remember_me() }}<br>
	{{ form.submit() }}<br>
	</form>	
{% endblock %}
