{% extends "base.html" %}

{% block content %}
	<form action="" method="POST">
		{{ form.csrf_token }}

		{{ form.username.label }}<br>
		{{ form.username(size=20) }}<br>
		{% for error in form.username.errors %}
			<span style="color:red;">{{ error }} </span>
		{% endfor %}
		
		{{ form.email.label }}<br>
		{{ form.email(size=20) }}<br>
		{% for error in form.email.errors %}
			<span style="color:red;"> {{ error }} </span>	
		{% endfor %}

		{{ form.password.label }}<br>
		{{ form.password(size=32) }}<br>
		{% for error in form.password.errors %}
			<span style="color:red;"> {{ error }} </span>
		{% endfor %}	

		{{ form.password2.label }}<br>
		{{ form.password2(size=32) }}<br>
		{% for error in form.password2.errors %}
			<span style="color:red;"> {{ error }} </span>
		{% endfor %}

		{{ form.submit() }}
	</form>
{% endblock %}
